html {
  box-sizing: border-box;
}
*,
::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);

  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif;*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 130px;
  padding-top: 40px;
}
.menu {
  display: flex;
  width: 490px;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}
.menu a {
  text-decoration: none;
  color: #9ce3d6;
  font-family: 'Montserrat', sans-serif;
}
.menu a:hover,
.menu a:focus {
  color: #f38181;
}
.menu-list-item {
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.35px;
  position: relative;
}
.menu-list-item:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.menu-list-item::after {
  display: block;
  width: 0%;
  content: '';
  height: 2px;
  bottom: -10px;
  background-color: #f59494;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 200ms linear;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.heading-2 {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2::after {
  display: block;
  width: 60px;
  height: 3px;

  background-color: rgb(243, 129, 129);

  content: '';
  margin: 28px auto 80px;
}
.service-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-about-1 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/1.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-2 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/2.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-3 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/3.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-4 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/4.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-5 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/5.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.service-about-6 {
  width: 382px;
  margin-bottom: 100px;
  background-image: url(../img/6.png);
  background-position: left 14px top 14px;

  background-repeat: no-repeat;
}
.tittle {
  padding-left: 90px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font: weight 400;
}
.tittle-about {
  padding-left: 90px;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.lorem {
  margin: 0 auto;
  width: 980px;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 94px;
}
.team {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
}
.position {
  text-align: center;
  color: #999999;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 470px;
  top: 0;
  left: 0;
  background-clip: padding-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}

.social-list-item {
  width: 56px;
  height: 56px;
  border: rgb(252, 227, 138);
  cursor: pointer;

  margin: auto;
  top: 79px;
  background-repeat: no-repeat;
  background-position: center;
}
.social-list-item:hover {
  background-color: #95e1d3;
}
.social-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
.card {
  width: 380px;
  height: 100%;

  padding-bottom: 84px;
  position: relative;
}

.social-list-item-facebook {
  transition: all 200ms linear;
  background-image: url(../img/facebook.png);
  background-color: #fce38a;
}
.social-list-item-twitter {
  transition: all 200ms linear;
  background-image: url(../img/twitter.png);
  background-color: #fce38a;
}
.social-list-item-pinterest {
  transition: all 200ms linear;
  background-image: url(../img/pinterest.png);
  background-color: #fce38a;
}
.social-list-item-instagram {
  transition: all 200ms linear;
  background-image: url(../img/instagram.png);
  background-color: #fce38a;
}
.team-img-wrapper:hover .overlay {
  transition: all 200ms linear;
  box-shadow: 10px 10px 0 0 #95e1d3;

  opacity: 1;
  visibility: visible;
}
.team-img-wrapper:hover {
  transform: translate(-10px, -10px);
  transition: all 200ms linear;
}

.footer {
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 12px;
}
.copiright {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.copiright-link {
  color: #f38181;
}
a {
  text-decoration: none;
}

a {
  background-color: transparent;
}
.contact-form {
  display: flex;
}
.contact-form-input {
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 12px;
  width: 230px;
  height: 40px;
}
.contact-form-button {
  width: 150px;
  height: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
  cursor: pointer;
}
